# Dependencies
node_modules/

# Next.js build output
.next/
out/
build/
dist/

# Environment
.env
.env.local
.env*.local

# Config files
*.config.js
*.config.ts
next-env.d.ts

# Public
public/

# Prisma
prisma/migrations/